<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    {{ site.title }}
  </title>

  <meta name="description" content={{ site.description }} />
  <meta name="generator" content="eleventy">
  <meta property="og:title" content="{{ site.title }}">
  <link rel="icon" href="/images/favicon.png" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link href="/styles/syntaxHighlight.css" rel="stylesheet">
</head>

<body class="bg-gray-900 antialised">

  {% include "partial_nav.liquid" %}

  <div class="mx-auto p-4 neomorph rounded-md prose md:prose-lg lg:prose-2xl flex flex-col"
  style="background: linear-gradient(to top,#d3cce3,#e9e4f0);">
    <h1 class="text-center">{{title}}</h1>
    <img src="{{heroImage}}" alt="">
    {{ content }}

  </div>
</body>

</html>